<?xml version="1.0"?>
<robot name="robot">

    <link name="world">
    </link>

    <joint name="world_link" type="floating">
        <parent link="world"/>
        <child link="base_link"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

    <!-- Root Link of Robot -->
    <link name="base_link">
    </link>

</robot>